// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$blue: #008aff; 
$darkblue: #13287e;
$yellow: #ffe824;
$gray: #474747;
$orange: #f7b74d;
$lightblue: #ecf6fe;
$white: #ffffff;

