body{
    font-family: 'Josefin Sans', sans-serif;

    .section{
        position: relative;
    }
    .container{
        max-width: 1170px;
    }

    a.btn{
        background: $yellow;
        color: $gray;
        font-size: 14px;
        text-align: center;
        display: inline-block;
        padding: 15px 25px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        border: none;
    }

    #topbar{
        background: $lightblue;

        .container{
            padding-top: 8px;
            padding-bottom: 8px;

            .col-l{
                font-size: 15px;
                color: $blue;
                text-align: left;
                font-weight: 300;
            }

            .col-r{
                text-align: right;

                .social-icons{
                    a{
                        color: $blue;
                        font-size: 15px;
                        display: inline-block;
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    #mainmenu{

        &.home{
            position: absolute;
            width: 100%;
            z-index: 2;
        }

        .container{
            padding-top: 65px;
            padding-bottom: 65px;

            .logo{
                a.navbar-brand{
                    margin: 0;
                    padding:0;
                }
            }

            .mainnav{

                ul#main-nav{
                    margin:0;
                    padding:0;
                    list-style-type: none;
                    display: flex;
                    justify-content: space-between;

                    li{
                        text-align: center;
                        max-width: 220px;
                        
                        a{
                            padding-top:0;
                            padding-bottom:0;
                            color: $blue;
                            font-size: 16px;
                            text-decoration: none;
                            display:table-cell;
                            vertical-align: middle;
                            height: 48px;
                            min-width: 100px;

                            &:hover{
                                background: $blue;
                                color: $white;
                                -webkit-border-radius: 30px;
                                -moz-border-radius: 30px;
                                border-radius: 30px;
                            }
                        }
                    }
                }
            }
        }
    }

    #homebanner{ 

        .elementor-element-populated{
            padding: 0 !important;
        }

        h1{
            font-family: 'Josefin Sans', sans-serif !important;
            font-weight: 400 !important;
            margin-bottom: 60px !important;
            line-height: 65px !important;
        }
        p{
            font-family: 'Josefin Sans', sans-serif !important;
            font-weight: 300 !important;
            margin-bottom: 60px !important;
        }

        a{
            font-family: 'Josefin Sans', sans-serif !important;
            font-weight: 400 !important;
            font-size: 14px  !important;
            text-align: center !important;
            display: inline-block !important;
            padding: 15px 25px !important;
            -webkit-border-radius: 30px !important;
            -moz-border-radius: 30px !important;
            border-radius: 30px !important;
            border: none !important;
        }
    }

    #services{

        h3{
            min-height: 75px;
        }
    }

    #footer{
        .container{
            padding-top: 40px;
            padding-bottom: 40px;

            .footer-logo{

                a.logo{
                    margin-top: 30px;
                    margin-bottom: 25px;
                    display: inline-block;
                }
            }
            .footer-contact{
                h4{
                    font-size: 20px;
                    font-weight: 400;
                    color: $gray;
                }
                p{
                    color: $gray;
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 35px;

                    a{
                        color: $blue;
                        font-size: 15px;
                        text-decoration: underline;
                    }
                }
            }
            .footer-subscription{
                h5{
                    font-size: 16px;
                    font-weight: 400;
                    color: $gray;
                    margin: 0 0 10px 0;
                }
                .fs-box{
                    margin: 0 0 25px 0;
                    border: 1px solid $gray;
                    padding: 10px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 3px;

                    input[type=text]{
                        border: none;
                        height: 100%;
                    }

                    input[type=submit]{
                        border: none;
                        background: transparent;
                        height: 100%;
                        color: $gray;
                        font-size: 15px;
                        line-height: 100%;
                        font-weight: 300;
                        padding:0;
                        width: 100%;
                        text-align: right;
                    }
                }

                .social-icons{
                    

                    a{
                        color: $gray;
                        font-size: 25px;
                        margin-right: 20px;
                        display: inline-block;
                    }
                }
            }
            .divider{
                border-bottom: 1px solid #ccc;
            }
            .footer-text{
                color: $gray;
                font-size: 12px;
                font-weight: 300;
                
                div{
                    word-wrap: break-word;
                } 
            }
            .copyright-text{
                font-weight: 300;
                font-size: 15px;
                color: $gray;
            }
        }
    }
}
