body #mainmenu.home {
    position: relative;
}  

body #mainmenu .container {
    padding-top: 40px;
    padding-bottom: 40px;
}

body #homebanner h1{
	margin-bottom: 10px !important;
	line-height: 35px !important;
}

#homebanner h3{
	line-height: 30px !important;
}

#ninja_forms_required_items, .nf-field-container{
	margin-bottom: 15px !important;
}

.nf-form-content .label-above .nf-field-label, .nf-form-content .label-below .nf-field-label, .nf-form-content .label-hidden .nf-field-label{
	margin-bottom: 0px !important;
}

body #services h3 {
    min-height: 36px !important;
	/*color: #fff;*/
	padding: 0 20px;
	/*text-shadow: 0px 0px 3px #000;*/
	/*text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;*/
}

body #services .elementor-widget-heading{
	/*position: absolute;
	z-index:2;
	top: 15%;*/
}

body #services .elementor-widget-button{
	/*position: absolute;
	top: 215px;*/
}

body #services .elementor-widget-button a, .form-submit input[type=submit]{
	background: #ffe824;
	color: #474747;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	padding: 15px 45px;
	border-radius: 30px;
	border: none;
	font-family: "Josefin Sans", Sans-serif;
	font-weight: 400;
}

body #services .elementor-widget-image{
	/*margin-bottom: 40px;*/
}

body #footer .container .footer-qlinks h4, body #footer .container .footer-subscription h4 {
    font-size: 20px;
    font-weight: 400;
    color: #474747;
}

#main article img.wp-post-image{
	margin-bottom: 20px;
}

#main article header.entry-header h2{
	font-weight: 300;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 20px;
} 

#main article header.entry-header h2 a{
	color: #13287e;
}

#main article .entry-content p{
	color: #474747;
	font-size: 20px;
	font-weight: 300;
	line-height: 25px;
}

#main article{
	margin-bottom: 30px;
}

#archive-wrapper h1.page-title, #single-wrapper h1.entry-title{
	color: #13287E;
	font-size: 40px;
	font-weight: 400;
	line-height: 45px;
	margin-bottom: 30px;
}

#single-wrapper .entry-header{
	margin-bottom: 30px;
}

#single-wrapper img.wp-post-image{
	float: left;
	margin: 0 20px 20px 0px;
}

#single-wrapper #comments{
	margin-top: 30px;
}

body #footer .container .footer-contact p a{
	font-size: 20px;
}

body #footer .container .footer-subscription .fs-box{
	padding: 10px 0;
}

body #footer .container .footer-qlinks ul{
	margin-left: -37px;
}

body #footer .container .footer-qlinks ul li{
	margin-bottom: 5px;
	font-weight: 300;
}

body #footer .container .footer-qlinks ul li a{
	color: #008aff;
	font-size: 16px;
	text-decoration: none;
}

body #footer .container .footer-subscription .fs-box input[type="text"], body #footer .container .footer-subscription .fs-box input[type="submit"], body #footer .container .footer-contact p, body #footer .container .footer-contact p a{
	font-size: 16px;
}

body #footer .container .footer-logo a.logo{
	margin-top: 0px;
}

body #footer .container .footer-contact p{
	line-height: 25px !important;
}

#printresources h3.elementor-post__title{
	font-weight: 300;
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 20px;
}
#printresources h3.elementor-post__title a{
	color: #13287e;
	font-weight: 300;
}
#printresources h3.elementor-post__title a:hover{
	text-decoration: underline;
}
#printresources .elementor-post__excerpt p{
	color: #474747;
	font-size: 20px;
	font-weight: 300;
	line-height: 25px;
	margin-bottom: 1rem;
}

#main .nf-form-content{
	padding: 0;
	max-width: none;
}
#main .nf-before-form-content{
	margin-bottom: 15px;
}
#main .nf-field-element input, #main .nf-field-element textarea, #commentform input[type=text], #commentform textarea, #commentform input[type=email], #commentform input[type=url]{
	border: 1px solid #008AFF;
	background: #ecf6fe;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #13287E;
	font-weight: 300;
}
#main .nf-field-element input[type=button]{
	background: #ffe824;
	color: #474747;
	font-size: 14px;
	text-align: center;
	display: block;
	padding: 15px 75px;
	border-radius: 30px;
	border: none;
	margin: 0 auto;
	font-family: "Josefin Sans", Sans-serif;
	font-weight: 400;
}
#main .nf-field-label label, #commentform label{
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 15px;
	margin-bottom: 7px;
}
#main .nf-after-form-content .nf-error-msg{
	text-align: center;
}
a.mobile_nav{
	display: none;
}

.sign-up-box{
	background-color: #ecf6fe;
	padding: 30px;
	margin-top: 40px;
}
.sign-up-box h4{
	color: #13287E;
}
.sign-up-box input[type=text]{
	height: auto;
	padding: 13px 20px;
	border-radius: 3px;
	border: 1px solid #008AFF;
}
.sign-up-box input[type=submit], .viewemail-btn a, .wp-block-image figcaption a{
	background: #ffe824;
	color: #474747;
	font-size: 14px;
	text-align: center;
	display: block;
	padding: 15px 75px;
	border-radius: 30px;
	border: none;
	margin: 0 auto;
	font-family: "Josefin Sans", Sans-serif;
	font-weight: 400;
	height: auto;
}

#services ul li{
	font-size: 19px !important;
	font-weight: 300 !important;
	margin-bottom: 7px;
}
#services ul{
	padding-left: 15px !important;
	margin-bottom: 0px;
}
#printresources .elementor-post a{
	pointer-events: none;
}

body #services .elementor-widget-button a, .form-submit input[type="submit"], #homebanner a.n2-ow, body a.btn, #main .nf-field-element input[type="button"], .sign-up-box input[type="submit"], .viewemail-btn a, .wp-block-image figcaption a{
	transition: all linear 0.5s;
}

body #services .elementor-widget-button a:hover, .form-submit input[type="submit"]:hover, body a.btn:hover, #main .nf-field-element input[type="button"]:hover, .sign-up-box input[type="submit"]:hover, .viewemail-btn a:hover, .wp-block-image figcaption a:hover{
	background-color: #0061b3 !important;
	color: #fff !important; 
	text-decoration: none;
}

.wp-block-image figcaption a{
	display: inline-block;
	margin-top: 5px;
}

#homebanner a.n2-ow:hover{
	background-color: #FFFFFF !important;
	color: #0061B3 !important; 
}

.social-icons a, body #topbar .container .col-r .social-icons a, body #footer .container .footer-subscription .social-icons a{
	transition: all linear 0.5s;
}

.social-icons a:hover, body #topbar .container .col-r .social-icons a:hover, body #footer .container .footer-subscription .social-icons a:hover{
	color: #13287e; 
}

body #footer .container .footer-qlinks ul li a, body #footer .container .footer-contact p a{
	transition: all linear 0.5s;
}
body #footer .container .footer-qlinks ul li:hover a, body #footer .container .footer-contact p a:hover{
	color: #13287e; 
}
body #mainmenu .container .mainnav ul#main-nav li a{
	transition: all linear 0.5s;
	border-radius: 30px;
}
#main .woocommerce-breadcrumb{
	display: none;
}
#main .woocommerce-products-header{
	font-size: 45px;
	font-family: "Josefin Sans", Sans-serif;
	font-weight: 400;
	color: #13287E;
}
.carousel-slider__post{
	border-radius: 0px;
	box-shadow: none;
}
.carousel-slider__post img{
	margin-bottom: 15px;
}
.carousel-slider .owl-nav.disabled, .carousel-slider .owl-dots.disabled{
	display: block;
}
.carousel-slider .owl-nav .owl-prev, .carousel-slider .owl-nav .owl-next{
	top: 42%;
}

blockquote {
    font-size: 18px;
    font-style: italic;
    width: 100%;
    margin: 20px 0;
	padding: 20px 40px;
    line-height: 1.45;
    position: relative;
    color: #13287E;
    background:#ecf6fe;
}

blockquote p{
	color: #13287E !important;
	font-size: 30px !important;
	font-weight: 400 !important;
	line-height: 35px !important;
	position: relative;
}
 
blockquote:before {
    display: block;
    content: "\201C";
    font-size: 100px;
    position: absolute;
    left: 4px;
	top: -4px;
    color: #13287E;
}

blockquote p{
	position: relative;
}

blockquote p:after {
    display: inline-block;
	content: "\201D";
	font-size: 100px;
	position: relative;
	color: #13287E;
	height: 24px;
	line-height: 80%;
	vertical-align: bottom;
}
 
blockquote cite {
    color: #0061b3;
    font-size: 20px;
    display: block;
    margin-top: 5px;
	font-weight: 300;
}
  
blockquote cite:before {
    content: "\2014 \2009";
}

#main .entry-content h3{
	color: #13287E;
	font-size: 30px;
	font-weight: 300;
	margin-top: 30px;
	margin-bottom: 15px;
}

#main .entry-content h2{
	color: #13287E;
	font-size: 40px;
	font-weight: 400;
	margin-top: 30px;
	margin-bottom: 15px;
}

#main .entry-content ul li, #main .entry-content ol li{
	color: #474747;
	font-size: 20px;
	font-weight: 300;
	line-height: 25px;
	margin-bottom: 10px;
}

.viewemail-btn{
	text-align: right;
	display: block !important;
	padding-top: 21px !important;
}

.viewemail-btn a{
	display: inline-block;
}

.wrapper .container > .row{
	margin-right: 0;
	margin-left: 0;
}
#services .elementor-image{
	position: relative;
}
#services .elementor-image:after{
	/*
	content: " ";
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.55);
	top:0;
	left:0;
	*/
}

body #mainmenu{
	transition: all linear 0.5s;
}

body #mainmenu.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
	background-color: rgba(255,255,255,0.85);
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.10);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.10);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.10);
	backdrop-filter: blur(5px);
	z-index: 5;
}
body #mainmenu.fixed-header .container {
    padding-top: 0px;
    padding-bottom: 0px;
}

body #mainmenu .container .mainnav ul#main-nav li:hover a{
	background-color: transparent !important;
	color: #13287e !important;
}
body #mainmenu .container{
	padding-top: 0px;
	padding-bottom: 0px;
}
body #mainmenu .container .mainnav ul#main-nav li{
	padding-top: 20px;
	padding-bottom: 17px;
	border-bottom: 3px solid transparent;
}
body #mainmenu .container .mainnav ul#main-nav li:hover{
	background-color: #ECF6FE;
	border-bottom: 3px solid #13287e;
}

body #mainmenu .container .logo{
	padding-top: 20px;
}

body #mainmenu.fixed-header .container .mainnav ul#main-nav li:hover{
	background-color: rgba(236, 246, 254, 0.30);
}

.wp-block-image .aligncenter > figcaption{
	display: block;
}

.wp-block-image{
	text-align: center;
}

.entry-content h2 a.btn{
	margin-top: -15px;
	margin-left: 30px;
	padding: 15px 40px;
	font-weight: 400;
	font-size: 18px;
}

.pre-email-group{
	background-color: #ECF6FE;
	border: 1px solid #008aff;
	padding: 20px;
	position: relative;
	margin-top: 45px;
}
.pre-email-group:before{
	content: "Sample";
	color: #000;
	font-size: 15px;
	background-color: #ffe824;
	display: inline-block;
	padding: 3px 15px;
	position: absolute;
	top:-30px;
	left:-1px;
}
.pre-email-group p, .pre-email-group ul, .pre-email-group ol{
	margin-bottom: 2rem;
}

body .container{
	outline: none;
}

.wp-block-image figcaption a{
	padding: 15px 40px;
	font-weight: 400;
	font-size: 18px;
}

@media only screen and (max-width: 767px) {
	.mainnav{
		display: none;
	}
	.logo{
		text-align: center;
	}
	.logo a.custom-logo-link img{
		max-width: 400px;
	}
	a.mobile_nav{
		display: block;
	}
	#services .elementor-image img{
		width: 100% !important;
		max-width: none;
	}
}