.elementor-109 .elementor-element.elementor-element-a921757:not(.elementor-motion-effects-element-type-background), .elementor-109 .elementor-element.elementor-element-a921757 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://companyvirusplan.com/wp-content/uploads/2020/04/about-section-1.png");background-position:center center;background-repeat:no-repeat;background-size:contain;}.elementor-109 .elementor-element.elementor-element-a921757{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:50px 0px 50px 0px;}.elementor-109 .elementor-element.elementor-element-a921757 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-109 .elementor-element.elementor-element-b4aab4c .elementor-heading-title{color:#13287E;font-family:"Josefin Sans", Sans-serif;font-size:45px;font-weight:400;line-height:45px;}.elementor-109 .elementor-element.elementor-element-b4aab4c > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-109 .elementor-element.elementor-element-de4b8da .elementor-heading-title{color:#008AFF;}.elementor-109 .elementor-element.elementor-element-04ca93d{color:#474747;font-family:"JosefinSans Light", Sans-serif;font-size:1.2em;}.elementor-109 .elementor-element.elementor-element-04dd6f2 .elementor-heading-title{color:#008AFF;}.elementor-109 .elementor-element.elementor-element-eb67e8a{color:#474747;font-family:"JosefinSans Light", Sans-serif;font-size:1.2em;}.elementor-109 .elementor-element.elementor-element-563c0a1:not(.elementor-motion-effects-element-type-background), .elementor-109 .elementor-element.elementor-element-563c0a1 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("https://companyvirusplan.com/wp-content/uploads/2020/04/about-section-2.png");background-position:center center;background-repeat:no-repeat;background-size:contain;}.elementor-109 .elementor-element.elementor-element-563c0a1{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:50px;margin-bottom:0px;padding:200px 0px 300px 0px;}.elementor-109 .elementor-element.elementor-element-563c0a1 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-109 .elementor-element.elementor-element-fb3c129 > .elementor-element-populated{padding:0px 0px 0px 50px;}.elementor-109 .elementor-element.elementor-element-640961a .elementor-heading-title{color:#008AFF;}.elementor-109 .elementor-element.elementor-element-cc615d5{color:#474747;font-family:"JosefinSans Light", Sans-serif;font-size:1.2em;}.elementor-109 .elementor-element.elementor-element-ddb69c8{padding:0px 0px 0px 0px;}.elementor-109 .elementor-element.elementor-element-3a6947{text-align:center;}.elementor-109 .elementor-element.elementor-element-3a6947 .elementor-heading-title{color:#4054B2;font-family:"Josefin Sans", Sans-serif;font-size:33px;font-weight:400;}.elementor-109 .elementor-element.elementor-element-3a6947 > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-109 .elementor-element.elementor-element-504e91e1{padding:0px 0px 40px 0px;}body.elementor-page-109 h1.entry-title, .elementor-page-title{display:none;}@media(min-width:768px){.elementor-109 .elementor-element.elementor-element-7d2c82d{width:42.946%;}.elementor-109 .elementor-element.elementor-element-fb3c129{width:57.054%;}}@media(max-width:767px){.elementor-109 .elementor-element.elementor-element-563c0a1{padding:0px 0px 0px 0px;}.elementor-109 .elementor-element.elementor-element-fb3c129 > .elementor-element-populated{padding:0px 0px 0px 0px;}}/* Start custom CSS */#homebanner h1{
    margin-bottom: 20px !important;
}

#homebanner h3{
    font-family: 'Josefin Sans',sans-serif !important;
    font-weight: 400 !important;
    margin-bottom: 0px !important;
    line-height: 65px !important; 
}

#homebanner a.n2-ow{
    background: #fff !important;
    color: #13287e !important;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'JosefinSans Light';
	font-style: normal;
	font-weight: normal;
	src: url('https://companyvirusplan.com/wp-content/uploads/2020/04/JosefinSans-Light.eot');
	src: url('https://companyvirusplan.com/wp-content/uploads/2020/04/JosefinSans-Light.eot?#iefix') format('embedded-opentype'),
		url('https://companyvirusplan.com/wp-content/uploads/2020/04/JosefinSans-Light.woff2') format('woff2'),
		url('https://companyvirusplan.com/wp-content/uploads/2020/04/JosefinSans-Light.woff') format('woff'),
		url('https://companyvirusplan.com/wp-content/uploads/2020/04/JosefinSans-Light.ttf') format('truetype'),
		url('https://companyvirusplan.com/wp-content/uploads/2020/04/JosefinSans-Light.svg#JosefinSansLight') format('svg');
}
/* End Custom Fonts CSS */