.elementor-288 .elementor-element.elementor-element-1725fd5f .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 1 * 100% );}.elementor-288 .elementor-element.elementor-element-1725fd5f:after{content:"1";}.elementor-288 .elementor-element.elementor-element-1725fd5f .elementor-post__thumbnail__link{width:100%;}.elementor-288 .elementor-element.elementor-element-1725fd5f .elementor-posts-container{grid-column-gap:30px;grid-row-gap:35px;}.elementor-msie .elementor-288 .elementor-element.elementor-element-1725fd5f .elementor-post{padding-right:calc( 30px/2 );padding-left:calc( 30px/2 );padding-bottom:35px;}.elementor-msie .elementor-288 .elementor-element.elementor-element-1725fd5f .elementor-posts-container{margin-left:calc( -30px/2 );margin-right:calc( -30px/2 );}.elementor-288 .elementor-element.elementor-element-1725fd5f.elementor-posts--thumbnail-left .elementor-post__thumbnail__link{margin-right:20px;}.elementor-288 .elementor-element.elementor-element-1725fd5f.elementor-posts--thumbnail-right .elementor-post__thumbnail__link{margin-left:20px;}.elementor-288 .elementor-element.elementor-element-1725fd5f.elementor-posts--thumbnail-top .elementor-post__thumbnail__link{margin-bottom:20px;}@media(max-width:767px){.elementor-288 .elementor-element.elementor-element-1725fd5f .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.5 * 100% );}.elementor-288 .elementor-element.elementor-element-1725fd5f:after{content:"0.5";}.elementor-288 .elementor-element.elementor-element-1725fd5f .elementor-post__thumbnail__link{width:100%;}}/* Start custom CSS */#homebanner h1{
    margin-bottom: 20px !important;
}

#homebanner h3{
    font-family: 'Josefin Sans',sans-serif !important;
    font-weight: 400 !important;
    margin-bottom: 0px !important;
    line-height: 65px !important; 
}

#homebanner a.n2-ow{
    background: #fff !important;
    color: #13287e !important;
}/* End custom CSS */