.elementor-147 .elementor-element.elementor-element-b4aab4c .elementor-heading-title{color:#13287E;font-family:"Josefin Sans", Sans-serif;font-size:45px;font-weight:400;line-height:45px;}.elementor-147 .elementor-element.elementor-element-b4aab4c > .elementor-widget-container{margin:0px 0px 30px 0px;padding:0px 0px 0px 0px;}.elementor-147 .elementor-element.elementor-element-6d0fceab > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-147 .elementor-element.elementor-element-1fd58a5 .elementor-heading-title{color:#008AFF;font-size:25px;}.elementor-147 .elementor-element.elementor-element-1fd58a5 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-147 .elementor-element.elementor-element-76b9d2e9 .elementor-accordion .elementor-accordion-item{border-width:0px;}.elementor-147 .elementor-element.elementor-element-76b9d2e9 .elementor-accordion .elementor-accordion-item .elementor-tab-content{border-width:0px;}.elementor-147 .elementor-element.elementor-element-76b9d2e9 .elementor-accordion .elementor-accordion-item .elementor-tab-title.elementor-active{border-width:0px;}.elementor-147 .elementor-element.elementor-element-76b9d2e9 .elementor-accordion-icon, .elementor-147 .elementor-element.elementor-element-76b9d2e9 .elementor-accordion-title{color:#13287E;}.elementor-147 .elementor-element.elementor-element-76b9d2e9 .elementor-accordion .elementor-accordion-title{font-family:"JosefinSans Light", Sans-serif;font-size:1.4em;}.elementor-147 .elementor-element.elementor-element-76b9d2e9 .elementor-accordion .elementor-tab-title .elementor-accordion-icon i:before{color:#474747;}.elementor-147 .elementor-element.elementor-element-76b9d2e9 .elementor-accordion .elementor-tab-title .elementor-accordion-icon svg{fill:#474747;}.elementor-147 .elementor-element.elementor-element-76b9d2e9 .elementor-accordion .elementor-tab-title.elementor-active .elementor-accordion-icon i:before{color:#FFFFFF;}.elementor-147 .elementor-element.elementor-element-76b9d2e9 .elementor-accordion .elementor-tab-title.elementor-active .elementor-accordion-icon svg{fill:#FFFFFF;}.elementor-147 .elementor-element.elementor-element-76b9d2e9 .elementor-accordion .elementor-tab-content{color:#474747;font-family:"JosefinSans Light", Sans-serif;font-size:1.2em;font-weight:400;}.elementor-147 .elementor-element.elementor-element-59bcc0e{margin-top:70px;margin-bottom:70px;}.elementor-147 .elementor-element.elementor-element-ddb69c8{padding:0px 0px 0px 0px;}.elementor-147 .elementor-element.elementor-element-4b0dd89e{text-align:center;}.elementor-147 .elementor-element.elementor-element-4b0dd89e .elementor-heading-title{color:#4054B2;font-family:"Josefin Sans", Sans-serif;font-size:33px;font-weight:400;}.elementor-147 .elementor-element.elementor-element-4b0dd89e > .elementor-widget-container{margin:0px 0px 00px 0px;}.elementor-147 .elementor-element.elementor-element-3162143e{padding:0px 0px 40px 0px;}body.elementor-page-147 h1.entry-title, .elementor-page-title{display:none;}/* Start custom CSS */#homebanner h1{
    margin-bottom: 20px !important;
}

#homebanner h3{
    font-family: 'Josefin Sans',sans-serif !important;
    font-weight: 400 !important;
    margin-bottom: 0px !important;
    line-height: 65px !important; 
}

#homebanner a.n2-ow{
    background: #fff !important;
    color: #13287e !important;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'JosefinSans Light';
	font-style: normal;
	font-weight: normal;
	src: url('https://companyvirusplan.com/wp-content/uploads/2020/04/JosefinSans-Light.eot');
	src: url('https://companyvirusplan.com/wp-content/uploads/2020/04/JosefinSans-Light.eot?#iefix') format('embedded-opentype'),
		url('https://companyvirusplan.com/wp-content/uploads/2020/04/JosefinSans-Light.woff2') format('woff2'),
		url('https://companyvirusplan.com/wp-content/uploads/2020/04/JosefinSans-Light.woff') format('woff'),
		url('https://companyvirusplan.com/wp-content/uploads/2020/04/JosefinSans-Light.ttf') format('truetype'),
		url('https://companyvirusplan.com/wp-content/uploads/2020/04/JosefinSans-Light.svg#JosefinSansLight') format('svg');
}
/* End Custom Fonts CSS */